html {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* HEADER */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
  }

nav ul {
    list-style-type: none;
    padding: 0 40px;
    background: cadetblue;
}

nav:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

nav li {
    float: left;
}

.nav-login-button {
    float: right;
}


nav ul img {
    width: 200px;
}

.nav-logo {
    position: absolute;
    left: 45%;

}

.space-cosmos {
    font-weight: bold;
}

.space-cosmos, .nav-icons {
    padding-left: 30px;
}

.nav-icons {
    text-decoration: none;
    color: black;
}

.space-cosmos:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-icons:hover {
    color: lightgray;
}

/* MAIN */


main {
    margin-top: 67px;
}