html {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-link-title, 
.gallery-article figcaption, 
.nav-login-button button,
.subscribe-now-button button, 
.comments button,
.subscribe2 {
    font-size: 11px;
}

.date, 
.comments, 
.author{
    font-size: 17px;
}

.video-caption, 
.image-caption, 
.links li a, 
.links li {
    font-size: 12px;
}

.gallery-article .date,
.footer-link-wrapper ul li, 
.footer-link-wrapper ul li a {
    font-size: 13px;
} 

/* HEADER */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    background-color: white;
    
  }

nav ul {
    list-style-type: none;
    max-width: 1605px;
    padding-top: 5px;
    margin: 0 auto;
}

ul:after, 
nav:after, 
.footer-logo:after, 
.footer-link-wrapper:after,
.footer-title:after,
.footer-link-title:after,
.footer-line:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
    visibility: hidden;
}



nav li {
    
    height: 35px;
    line-height: 35px;

}

.nav-login-button,
.subscribe-now-button,
.social-icons,
.footer-link-title,
.most-popular {
    float: right;
}


nav ul img {
    width: 200px;
    margin-top: 5px;
}

.nav-logo {
    position: absolute;
    left: 45%;

}

.space-cosmos {
    font-weight: bold;
}

.space-cosmos, .nav-icons {
    padding-left: 30px;
}

.nav-icons {
    text-decoration: none;
    color: black;
}

.space-cosmos:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-icons:hover {
    color: lightgray;
}

.nav-login-button button,
.subscribe-now-button button, .comments button,
.signup-for-science button {
    background: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    padding: 11px 12px;
    border-radius: 3px;
    letter-spacing: 0.05em;
    line-height: 11px;
    margin-left: 5px;
}

/* MAIN */

body {
    color: #333;
    overflow-x: hidden;
    
}

p {
    font-size: 20px;
    line-height: 29px;
}

main {
    margin-top: 67px;
  
}

h1 { 
    max-width: 400px;
    font-style: italic;
    line-height: 48px;
    font-size: 30px;
    margin: 0 auto;
    
}

figure {
    width: 1200px;
    margin: 0 auto;
}

figcaption {
    margin: 10px 0;
    max-width: 900px;
    color: lightslategray;
}


.main-image {
    display: block;
    margin: 10px auto 0;
    max-width: 100%;
}




.container {
    display: block;
    margin: 0 auto;
    width: 600px;
}

.body-image {
    margin: 0 auto;
    width: 600px;
}




.social-icons ul {
    list-style-type: none;
    padding: 0;
    
}

.social-icons ul li {
   
    margin: 10px;
    background-color: #eee;
    border-radius: 100%; 
    padding: 5px;
   
    text-align: center;

}

li .fa {
    margin: 0 auto;
    width:20px;
    height:20px;
    color: black;
}

.date, 
.comments,
.news, 
.opinion, 
.arts, 
.living, 
.more, 
.subscribe,
.footer-logo,
.links,
.links li a , 
.links li,
.gallery-article,
.more-articles,
nav li,
.social-icons ul li {
    float: left;
}

.icons-and-date:after {
    content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.author {
 font-weight: 700; 
}

.author a {
    color: #333;
}


.signup-for-science {
    position: absolute;
    right: 280px;
    width: 200px;

}

.signup-for-science p {
    font-size: 15px;
    text-align: left;
    line-height: 1rem;
    color: rgb(102, 102, 102);

}

.signup-h2 {
    font-size: 19px;
}

.signup-for-science button {
width: 90%;
margin: 0 auto;
}

.video-caption, .image-caption {
    color: rgb(183, 210, 236);
}

a {
    color: #326891;
}

.comments p {
   padding: 15px 20px;
}

.comments button {
    width: 350px;
    height: 45px;
}



/* FOOTER */
 
footer {
    margin: 0 auto;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.footer-line {
    border-bottom: 1px solid rgb(226, 226, 226);
    border-top: 2px solid rgb(226, 226, 226);

}

.footer-line::before{
    content: "";
    display: block;
    height: 1px;
    margin-top: 0;
    
}



.news, 
.opinion, 
.arts, 
.living, 
.more, 
.subscribe {
    margin-right: 25px;
    width: 14%;
 }

.subscribe-icons {
    padding-right: 5px;
    vertical-align: middle;
}


 .footer-logo {
    margin: 10px auto;
    width: 200px;
   
}

.footer-link-title {
    margin-top: 10px;
    
}

.footer-link-title a {
    text-decoration: none;
}

.footer-link-wrapper p {
    font-weight: bold;
}

.footer-link-wrapper ul li, .footer-link-wrapper ul li a{
   list-style-type: none;
   text-decoration: none;
   color: black;
   line-height: 26px;
}

.footer-link-wrapper ul li a:hover  {
    cursor: pointer;
    text-decoration: underline;
}

.footer-link-title a:hover {
    cursor: pointer;
}

.footer-link-wrapper {
    border-bottom: 1px solid lightgray;
    clear: left;
}

.footer-link-wrapper ul {
    padding-left: 0;
}


.subscribe {
    border-left: 1px solid lightgray;
    height: 337px;
}
.subscribe-wrapper {
    padding-left: 25px;
}
.subscribe1 {
    font-weight: bold;
}

.subscribe2 {
    border-bottom: 1px dashed lightgray;

}

.footer-links {
    margin: 0 auto;
}

figcaption,
.footer-link-wrapper p {
    font-size: 14px;
}

.links li a , 
.links li {
    color: #999;
    text-decoration: none;
    list-style-type: none;
    margin-right: 10px;
    
}

.links li a:hover {
    text-decoration: underline;
    cursor: pointer;
}





/* GALLERY */

.gallery-article {
    width: 321px;
    padding-bottom: 20px;
    margin: 0 10px;

}

.gallery-and-aside::after,
.more-articles::after {
    content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;

}

.gallery-and-aside {
    width: 1250px;
    margin: 0 auto;
}

.more-articles {
    width: 73%;
    border-top: 1.1px solid #333;
    margin-left: 15px;

}

.gallery-article {
    width: 270px;
}

.gallery-article figure, 
.gallery-article img {
    width: 100%;
    height: 181px;
}

.gallery-title {
    margin-top: 30px;
    font-weight: lighter;
}
.gallery-title a {
    text-decoration: none;
    color: #333;
}

.gallery-article figcaption {
    margin: 0;
    
}

.gallery-article .date {
    margin: 0;
}


.space-cosmos-title,
.gallery-title a,
.most-popular p,
.editor-title {
    font-size: 19px;
}

.most-popular p {
    font-weight: bold;
}

/* MOST POPULAR */

.most-popular {
    width: 23%;
    margin-left: 15px;
    border-top: 1px solid #333;
}

.most-popular ul {
    padding-left: 0;
}
.most-popular li {
    font-size: 1.1rem;
    line-height: 1.7375rem;
    list-style-type: none;
    border-top: 1px solid rgb(226, 226, 226);
    padding: 15px 0;
    font-weight: bold;


}

.most-popular li a {
    text-decoration: none;
    color:rgb(18,18,18)
}

.editor-pick {
    float: left;
    border-top: 1px solid #333;
}